@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bordered-b {
    @apply border-b border-white/20;
  }
  .bordered-r {
    @apply border-r border-white/20;
  }
  .bordered-l {
    @apply border-l border-white/20;
  }
  .bordered-all {
    @apply border border-white/20;
  }
}

.code {
  font-family: "Roboto Mono", monospace;
}

.text-shadow-white {
  text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.25);
}

.text-shadow-black {
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
  padding: 5px;
  width: 10px;
  background-color: rgba(32, 32, 32, 0.562);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 5px;
}
